<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                User List
                <button type="button" class="btn btn-primary btn-sm active pull-right">Create User</button>
            </div>

            <div class="card-block table-responsive">
                <table class="card-block table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User Name </th>
                            <th>Real Name </th>
                            <th>Email</th>
                            <th>Office</th>
                            <th>Plant</th>
                            <th>Role</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Mark@ge.com</td>
                            <td></td>
                            <td>BaoChang</td>
                            <td>Group Level</td>

                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Eric@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>Jason@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Mark@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Group Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Eric@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>Jason@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Mark@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Group Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Eric@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>Jason@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Mark@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Group Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Eric@ge.com</td>
                            <td></td>
                            <td>DaTang</td>
                            <td>Plant Level</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="ng2-smart-action ng2-smart-action-edit-edit" href="#"> <i class="glyphicon glyphicon-pencil"></i> </a>
                            </td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>Jason@ge.com</td>
                            <td></td>
                            <td>WangTan</td>
                            <td>Plant Level</td>
                        </tr>

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="card-block col-md-4">
                        <div class="text-uppercase text-muted fs-12"></div>
                        <ngb-pagination [collectionSize]="80" [(page)]="defaultPagination"></ngb-pagination>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
